*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding-left: 120px;
    padding-top: 50px;
}
.doc-con{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
@media screen and (max-width: 768px) {
    main{
        padding-left: 3rem;
    }
    .doc-con{
        grid-template-columns: 1fr;
    }
    
}